*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
.header{
	width: 100%;
	height:50px;
	background-color: #438D80 !important;
	display: flex;
}
.sidebar{
	width:15%;
	height:100vh;
	background-color: white;
	border-right: 3px solid silver;
	
}
.sidebar > img{
	height: 20vh;
	margin-left: 25px;
}
.main{
	display: flex;
	width: 100%;
}

ul#nav li a{
	text-decoration: none;
	color:black;
	display: block;
	padding: 7%;
	font-size: 1em;
	border-bottom: 1px solid black;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
ul#nav li a:hover{
	text-decoration: underline;
	color: #438D80;
	padding-left:30px;
	}
.containar{
	width: 98%;
	
}
.content>.profile{
	display: flex;
}
.profileContent {
	background-color: #cccc;
	margin-top: 3%;
}
.content{
	display: flex;
}
.content>.profile{
	margin-right: 3%;
}
.profileContent >.profileTitle{
	background-color: #78866B;
	height: 40px;
	border-bottom: 3px solid white;
}
.color{
	color: white;
	margin-left: 2%;
}
.design{
	text-align: center;
}