body{
	margin: 0 auto;
	
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: white;
}
.nav{
	background-color: #438d80;
	height: 60px;
	position: fixed;
	top:0;
	width: 100%;
	display: flex;
	width: 100%;
}
.header{
	font-weight: 300;
	line-height: 1.1;
}
.header >a{
	color: white;
	font-size: 2rem;
	text-decoration: none;
}
.display-1-p{
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.1;
}
.display-3-p{
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.1;
}
.overlay{
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
	position: fixed;
	width: 100%;
}
.sub-main1{
	width:48%;
	background-color: rgba(0,0,0,0.5);
	padding-left: 2%;
	padding-bottom: 2%;
}
.main-2{
	display: flex;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.main{
	margin-top: 4%;
}
button{
	padding: 10px;
	background-color: #438d80;
	color: white;
	margin-bottom: 7px;
	cursor: pointer;
}
form{
	display: block;
}
#year{
	padding: 5px 20px;
	outline: none;
    width: 100px;
    display: block;
    border-radius: 3px;
    margin-bottom: 7px;
}
.display-2-p{
	font-weight: 300;
	line-height: 1.5;
	font-size: 1.3rem;
}
li{
	color: red;
}
span{
 	background-color: rgba(0,0,0,0.5);
	font-size: 1.6rem;
}
.footer{
	text-align: center;
	font-size: 1.75rem;
	font-weight: 300;
	line-height: 1.1;
	height: 120px;
	padding-top: 30px;
	background-color: #438d80;
	color: white;
}
.footer p > a{
	color:white;
}
.nav-2{
	padding-top: 5%;
	background: rgba(0,0,0,.5);
	text-align: center;
	height: 15vh;
}
.nav-2 > p{
	font-size: 1.75rem;
}
@media screen and (max-width: 760px) {
	body{
		background: url(copy1.jpg)no-repeat  center fixed;
	}
	.nav >.header{
		font-size: 1.8rem;
	}
	.display-1{
		padding-top: 5%;
	}
	.display-1-p{
		font-size: 1.5rem;
		font-family: sans-serif;
	}
	.display-3-p{
		font-size: 1.35rem;
		font-family: sans-serif;
	}
	.main-2{
		display: block;
	}
	.sub-main1{
		width: 100%;
	}
	.nav-2{
		padding-top: 20%;
	}
	.nav-2>p{
		font-size: 2rem;
	 		font-weight: 300;
	}
	.mx{
		width: 85%;	
		margin:0 auto;
	}
	.bb{
		border-bottom: 2px solid silver;
	}
	.mx-auto{
		text-align: center;
		width: 95%;	
	}
	.display-2{
		padding-top: 2%;
	}
	.footer{
		font-size: 1.1rem;
	}
}
